<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Aplikasi Inventory">
  <meta name="author" content="Aji Kowiyu">
  <title>Dashboard Template · Bootstrap v5.3</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/custom-template.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">    
  <script src="/bootstrap/css/bootstrap.css"></script> 
  <script src="/fontawesome/js/all.min.js"></script> 

</head>